/*Hidden Content*/

#hidden-content #container h1 {
    padding: 20px;
    margin-bottom: 0;
    position: relative;
}

#hidden-content h1:hover {
    cursor: pointer;
}

#hidden-content h3:hover {
    cursor: pointer;
}

#hidden-content div.expand {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expand1 {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expand2 {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expand3 {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expand4 {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expand5 {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expandFirstAutomatedBlogEntry {
    display: none;
    margin-top: 0px;
    padding: 10px 20px 20px 20px;
    z-index: -4;
}

#hidden-content div.expandFIrstAutomatedBlogEntry{
display:none;
margin-top:0px;
padding: 10px 20px 20px 20px;
z-index:-4;
}

        

#hidden-content div.expandTheFinalYear{
display:none;
margin-top:0px;
padding: 10px 20px 20px 20px;
z-index:-4;
}

        

#hidden-content div.expandThesisTopicFinalised{
display:none;
margin-top:0px;
padding: 10px 20px 20px 20px;
z-index:-4;
}


#hidden-content div.expandFinalYearpart1Over{
display:none;
margin-top:0px;
padding: 10px 20px 20px 20px;
z-index:-4;
}

        

#hidden-content div.expandGraduationandFirstMonthasSoftwareEngineer{
display:none;
margin-top:0px;
padding: 10px 20px 20px 20px;
z-index:-4;
}

        