@font-face {
    font-family: 'adam'; /*a name to be used later*/
    src: url(font/Adam.otf); 
}

body{
    font-weight: 500;
    color: rgb(85, 62, 107);
}

a{ 
    font-weight: 900;
    font-size: larger;
    color:#9a65fc;
    font-family: adam;
    text-decoration: none;
}

a:hover{
    color:#9a65fc93;
    transition: ease-in-out;
    transition-duration: 300ms;
    text-decoration: none;
}

#cv{
    text-decoration: none;
    padding:0;
    color:#9a65fc;
    font-family:adam;
    font-size: 0.8em;
    font-weight: bolder;

}

body{
    background-color: rgb(10, 0, 14);
}

h1{
    color: rgb(89, 6, 167);
}


.bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    background-image: url(img/banner.jpg);
}